<!DOCTYPE html>
<html>
  <head>
    <title>Hosto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body>

<div id="wrapper">
  <%= yield :nav %>


        <%= yield :tab %>

          <%= yield %>

</div>

      <!-- jQuery -->
      <script src="../vendor/jquery/jquery.min.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Metis Menu Plugin JavaScript -->
      <script src="../vendor/metisMenu/metisMenu.min.js"></script>

      <!-- Custom Theme JavaScript -->
      <script src="../dist/js/sb-admin-2.js"></script>

      <script type="text/javascript">
        $(function(){
          /* ========================================================================= */
          /*	Contact Form
          /* ========================================================================= */

          //autoclose
          $(".alert-message").alert();
          window.setTimeout(function() { $(".alert-message").alert('close'); }, 2000);

          $('#myModal').on('shown.bs.modal', function () {
              $('#myInput').focus()
            })

          });
      </script>

  </body>
</html>
